.well
  %form.form-inline{method: 'get', action: ''}
    .form-group
      %label{for: 'daterange'}
        Date Range
      %input#daterange.form-control{type: "text", size: 24, name: 'daterange', value: "#{@start_date} to #{@end_date}"}

    .form-group
      %label
        Event Type
      = select_tag('eventtype', options_for_select(@event_types, @event_type), class: 'form-control')
    %button.btn.btn-primary{type: 'submit'}
      Apply


:javascript
  $(document).ready(function() {
    $('#daterange').daterangepicker({
      format: 'YYYY-MM-DD',
      startDate: moment("#{@start_date}"),
      endDate: moment("#{@end_date}"),
      ranges: {
         'Today': [moment(), moment()],
         'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
         'Last 7 Days': [moment().subtract(6, 'days'), moment()],
         'Last 30 Days': [moment().subtract(29, 'days'), moment()],
         'This Month': [moment().startOf('month'), moment().endOf('month')]
        },
      separator: ' to '
    });
  });

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Id
      %th Log Date
      %th Event Type
      %th Log Size (in bytes)
      %th Download
  %tbody.elf-table-entries
    - @log_files.each do |log_file|
      %tr
        %td
          = log_file.Id
        %td
          = log_file.LogDate.strftime("%Y-%m-%d")
        %td
          = log_file.EventType
        %td.text-right
          = number_with_delimiter(log_file.LogFileLength)
        %td.text-center
          -if log_file.LogFileLength <= Rails.configuration.x.elf.max_download_file_size_in_bytes
            = link_to(event_log_file_path(log_file.Id), "data-toggle" => "tooltip", title: "Download event log file", class: "btn btn-success btn-xs") do
              %span.glyphicon.glyphicon-download-alt
          - else
            = link_to(event_log_file_path(log_file.Id), "data-toggle" => "tooltip", title: "Files over #{number_with_delimiter(Rails.configuration.x.elf.max_download_file_size_in_bytes)} bytes cannot be downloaded from ELF Browser", class: "btn btn-warning btn-xs disabled") do
              %span.glyphicon.glyphicon-download-alt