!!!
%html
  %head
    %title Unofficial Salesforce Event Log File Browser
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'layouts/google_analytics'
  %body
    .navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to(root_path, class: "navbar-brand") do
            %span
            Unofficial Salesforce Event Log File Browser
        .collapse.navbar-collapse
          - if logged_in?
            .nav.navbar-nav.navbar-right
              %li.dropdown
                %a{"data-toggle" => "dropdown", href: "#"}
                  = username
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to(logout_path) do
                      %span.glyphicon.glyphicon-log-out
                      %span Logout
    .container
      = yield

    #footer
      .container
        %hr
        .div
          = render 'layouts/github_buttons'
        .div
          = link_to("Source Code","https://github.com/abisek/salesforce-elf-browser")
          |
          = link_to("Report Issues", "https://github.com/abisek/salesforce-elf-browser/issues")
          |
          Provided under
          = link_to("MIT license.", "https://github.com/abisek/salesforce-elf-browser/blob/master/MIT-LICENSE")
          Copyright (c) 2022 Salesforce ELF Browser contributors. 

          Safe harbor: the Salesforce ELF browser is not an official Salesforce product we make no guarantees on the safety, security, or maintenance of the project or the deployed app and customers should not base their purchasing decision on the current feature set or future roadmap of this application.
