!!!
%html
  %head
    %title Salesforce Event Log File Browser
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to(root_path, class: "navbar-brand") do
            %span
              = image_tag 'sfdc_logo.png', alt: 'Salesforce Logo'
            Event Log File Browser
        .collapse.navbar-collapse
          - if logged_in?
            .nav.navbar-nav.navbar-right
              %li.dropdown
                %a{"data-toggle" => "dropdown", href: "#"}
                  = username
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to(logout_path) do
                      %span.glyphicon.glyphicon-log-out
                      %span Logout
    .container
      = yield

    #footer
      .container
        %hr
        %p.text-muted
          Salesforce.com, inc. The Landmark at One Market, Suite 300, San Francisco, CA, 94105, United States
